---
- name: Setting Up Cluster
  hosts: aws_ec2
  become: true
  roles:
    - hostnames
    - dependency-packages
    - kube-packages
    - container-runtime

- name: Init Cluster
  hosts: control_planes[0]
  become: true
  environment:
    KUBECONFIG: "{{kube_config}}"
  roles:
    - init-cluster
    - set-provider-id
    - container-network

- name: Join Control Planes
  hosts: control_planes:!control_planes[0]
  become: true
  environment:
    KUBECONFIG: "{{kube_config}}"
  roles:
    - join-control-planes
    - set-provider-id

- name: Join Workers
  hosts: workers
  become: true
  environment:
    KUBECONFIG: "{{kube_config_worker}}"
  roles:
    - join-workers
    - set-provider-id

- name: Update Launch Template
  hosts: localhost
  roles:
    - update-launch-template

- name: Setting Up Cluster Auto Scaler
  hosts: control_planes[0]
  become: true
  environment:
    KUBECONFIG: "{{kube_config}}"
  roles:
    - cluster-autoscaler
